body {
  background-image: url("old_crjase_background.jpg");
  background-color: black;
  color: whitesmoke;
}

iframe {
  width: 100%;
  height: 100%;
}

#oldWebsite {
  width: 80vw;
  height: 100vh;
  display: block;
  text-align: center;
}


.text {
  font-size: 3em;
  font-weight: bold;
}
