<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				background: #445;
				color: #77a;
				margin: 0px;
			}
			
			#bar {
				display: flex;
			}
			
			.item {
				flex-grow: 1;
				text-align: center;
			}
			
			.item:hover {
				color: #fff;
				font-size: 1.5em;
				align-self: flex-end;
				transition: font-size 2s ease-in-out;
			end
		</style>
	</head>
	<body>
		<div id = "bar">
			<div class = "item">
				testing
			</div>
			<div class = "item">
				testing2
			</div>
			<div class = "item">
				testing3
			</div>
		</div>
	</body>
</html>
