<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				background: #445;
				color: #77a;
				margin: 0px;
			}
			
			#bar {
				display: flex;
				align-items: center;
			}
			
			.item {
				flex-grow: 1;
				text-align: center;
				font-size: 1em;
				transition: font-size 1s ease-in-out, color 1s ease-in-out;
			}
			
			.item:hover {
				color: #fff;
				font-size: 1.5em;
			}
		</style>
	</head>
	<body>
		<div id = "bar">
			<div class = "item">
				testing
			</div>
			<div class = "item">
				testing2
			</div>
			<div class = "item">
				testing3
			</div>
		</div>
	</body>
</html>
