body {
	background: #445;
	color: #77a;
	margin: 0px;
}

#bar {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.item {
	text-align: center;
	font-size: 16px;
	margin-top: 4px;
	transition: all 1s ease-in-out;
}

.item:hover {
	color: #fff;
	transform: scale(150%);
}
