body {
	background-image: url("assets/old_crjase_background.jpg");
	background-color: black;
	color: whitesmoke;
	font-family: sans-serif;
}

iframe {
	width: 100%;
	height: 100%;
}

#oldWebsite {
	width: 80vw;
	height: 140vh;
	display: block;
	text-align: center;
	margin: auto;
}


.text {
	font-size: 3em;
	font-weight: bold;
}
